.section-single-toy {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.toy-photo,
.toy-info {
    width: 50%;
}

.toy-photo img {
    width: 100%;
}

.toy-info .toy-description,
.toy-info .quantity,
.toy-info .price,
.toy-info .ratings,
.toy-info .seller,
.toy-info .seller_email {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.toy-info .toy-description,
.toy-info .quantity span,
.toy-info .price span,
.toy-info .ratings span,
.toy-info .seller span,
.toy-info .seller_email span {
    font-weight: 400;
    color: #555;
}
