footer {
    padding: 5rem 10rem;
    background-color: #212529;
    color: #fff;
}

footer .grid {
    place-items: center;
}

footer .box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

footer .box p {
    color: #d5d5d5;
}

footer .box a {
    text-decoration: none;
    color: #fff;
}

footer .social .links {
    display: flex;
    gap: 2rem;
}

footer .social .links img {
    width: 3rem;
    filter: brightness(0.5);
    opacity: 50%;
    transition: all 0.4s;
}

footer p {
    text-align: center;
}

footer .social .links img:hover {
    filter: brightness(1);
    opacity: 100%;
}

@media screen and (max-width: 991px) {
    footer {padding: 3rem 5rem;}
}

@media screen and (max-width: 768px) {
    footer {padding: 3rem 2rem;}
}