.photo-box {
    border: 2px solid #00509D;
    overflow: hidden;
}

.photo-box img {
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.4s;
}

.photo-box img:hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(1.1);
}