@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #282833;
}

section {
  padding: 3rem 10rem;
}

/* Component */

.grid {
  display: grid;
  gap: 3rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  outline: none;
  border: none;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #00509D;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #00296B;
}

.primary-heading {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.secondary-heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

/* Responsive */



@media screen and (max-width: 991px) {
  .col-3, .col-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  section {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .col-2, .col-3, .col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  section {
    padding: 1rem 2rem;
  }
}